PORT=3000

BOT_TOKEN=YOUR_NEW_BOT_TOKEN
BOOKING_GROUP_ID=-1000000000000
GOOGLE_SHEET_ID=YOUR_GOOGLE_SHEET_ID

GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
